<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <link rel="stylesheet" href="~/css/site.css">
            <link rel="stylesheet" href="~/css/toaster.css">
                <link rel="icon" href="~/img/title-logo.png">
                    <title>Liva Store</title>
                </head>

                <body class="bg-light d-flex flex-column min-vh-100">
                    <div class="container">
                        <header>
                            @* @await Html.PartialAsync("Partials/Admin/_Message") *@
                            @await Html.PartialAsync("Partials/Site/_TopBar")
                            @RenderSection("Bar", required: false)
                        </header>
                    </div>

                    <main>@RenderBody()</main>

                    @await Html.PartialAsync("Partials/Site/_Footer")

                    <script src="~/js/fslightbox.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
                    @RenderSection("Scripts", required: false)
                    <script>
                        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                        return new bootstrap.Tooltip(tooltipTriggerEl)
                        })
                    </script>
                    <partial name="_Toaster" />
                </body>

            </html>