@model AccountLoginModel
@section Bar {
    <section class="bg-primary p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0 ">
                    <li class="breadcrumb-item ">
                        <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a asp-controller="Account" asp-action="Create" class="text-decoration-none">Forgot Password</a>
                    </li>

                </ol>
            </nav>
        </div>
    </section>
}
<section class="mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card card-body">
                    <form method="post" novalidate asp-controller="Account" asp-action="ForgotPassword">
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">Email :</label>
                            <input for="email" id="email" name="email" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}