<footer class="mt-auto py-4 bg-primary">
    <div class="container">
        <div class="row gy-3 align-items-center">
            <div class="col-md-7 col-lg-6">
                <form>
                    <label for="email" class="form-label text-white mb-1">
                        Be the first to know about the discounts!
                    </label>

                    <div class="input-group">
                        <input type="email" name="email" class="form-control" placeholder="Enter email address">
                        <button type="button" class="btn btn-outline-light">Subscribe</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-lg-6">
                <nav class="text-center text-md-end">
                    <a href="#" class="btn btn-icon btn-outline-light btn-sm ms-1">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-light btn-sm ms-1">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-light btn-sm ms-1">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-outline-light btn-sm ms-1">
                        <i class="fab fa-twitter"></i>
                    </a>
                </nav>
            </div>
            <div class="col-12 mt-4">
                <div class="border-top border-light opacity-50 mb-3"></div>
                <p class="text-center text-white small mb-0">
                    &copy; 2026 Liva Store. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>