@using dotnet_store.Data
@using dotnet_store.models
@{
    Layout = "_AdminLayout";
}
@model AppRole

<div class="row ">
    <div class="col justify-content-center align-items-center d-flex">
        <div class="card w-75">
            @if (ViewBag.User.Count == 0)
            {
                <div class="card-body text-center">
                    <p>Are you sure you want to delete the @Model.Name role? </p>
                    <form asp-controller="Role" asp-action="DeleteConfirm" method="post">
                        <input type="hidden" asp-for="Id">

                        <button type=" submit" class="btn btn-danger btn-sm">Delete</button>
                        <a asp-controller="Role" asp-action="Index" class="btn btn-primary btn-sm">Cancel</a>
                    </form>
                </div>
            }
            else
            {
                <div class="card-header alert alert-danger">@Model.Name has users, you should delete them first.
                </div>
                <div class="card-body">
                    <div class="table-responsive w-50">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in ViewBag.User)
                                {
                                    <tr>
                                        <td>@user</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer border-white bg-white">
                    <a asp-controller="Role" asp-action="Index" class="btn btn-sm btn-primary">Go Back</a>
                </div>
            }
        </div>
    </div>
</div>