#toast-container {
  top: 40px !important;
}
#toast-container > div {
  width: 29rem !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  opacity: 0.95 !important;
}
