<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a href="/Admin" class="navbar-brand">Admin</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-controller="Category" asp-action="Index" class="nav-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Index" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Slider" asp-action="Index" class="nav-link">Slider</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Role" asp-action="Index" class="nav-link">Role</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" class="nav-link">User</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Order" asp-action="Index" class="nav-link">Order</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 mt-2">
                <li class="nav-item me-1">
                    <a asp-controller="Admin" asp-action="Index" class="btn btn-light btn-sm"> <i
                        class="fa fa-user"></i> <span
                        class="ms-1 d-none d-sm-inline-block">@User.Identity?.Name</span></a>
                    </li>

                    <li><a asp-controller="Account" asp-action="SignOut" class="btn btn-light btn-sm me-1">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i><span
                        class="ms-1 d-none d-sm-inline-block">Sign Out</span>
                    </a></li>

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-light btn-sm"><i
                            class="fa-solid fa-globe"></i><span>Website</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>