 <div id="slider" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active"></button>
                                <button type="button" data-bs-target="#slider" data-bs-slide-to="1" ></button>
                                <button type="button" data-bs-target="#slider" data-bs-slide-to="2" ></button>
                            </div>